---
layout: layouts/basic.njk
tags: top
title: O mně
sitemap:
  priority: 0.6
eleventyNavigation:
  key: about
  title: O&nbsp;mně
  description: Fullstack react native, JS, PHP (Symfony, Drupal) a DB (PostgreSQL, MySQL) freelance OSVČ vývojář a konzultant.
  order: 3
  icon: user
---
{%- for entry in collections.about_me %}
  <section class="basic">
    <div class="container {% if loop.index === 1 %}scroll-transition-ltr{% else %}scroll-transition-rtl transition-postponed{% endif %}">
      {{ entry.templateContent | safe }}
    </div>
  </section>
{%- endfor %}
