$bottom: transparentize(#000, .9);
$top: transparentize(#fff, .7);
$speed: 10;

@media screen and (prefers-reduced-motion: no-preference) {
  .flag-effect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent linear-gradient(100deg,
            transparent 10%,
            $bottom 14%,
            $top 17%,
            $bottom 25%,
            transparent 30%,
            transparent 35%,
            $bottom 39%,
            $top 43%,
            $bottom 50%,
            transparent 60%,
            transparent 70%,
            $bottom 74%,
            $top 79%,
            $bottom 85%,
            transparent 90%,
    ) repeat-x;
    background-size: 200%;
    z-index: 1;
    animation: flag-anim #{$speed}s linear infinite;
  }
}

@keyframes flag-anim {
  0% {
    background-position-x: -200%;
  }
  100% {
    background-position-x: 0;
  }
}