$transition-duration: 0.75;

@media screen and (prefers-reduced-motion: no-preference) {
  .scroll-transition {
    &-rtl {
      &.transition-initial {
        transform: translateX(50px);
      }
    }

    &-ltr {
      &.transition-initial {
        transform: translateX(-50px);
      }
    }

    &.transition-initial {
      opacity: 0;
      transition: none;
    }

    // make sure this is after all .transition-initial definitions
    &.transition-final {
      transform: none;
      opacity: 1;
      transition: opacity #{$transition-duration}s ease-out,
        transform #{$transition-duration}s ease-out;
    }
  }
}
