@import "../_colors";
@import "../_sizes";

.tmpl-basic {
  section {
    background-color: $white;
    padding: $step * 5 0;

    &:nth-child(odd) {
      background-color: $light-background;
      margin: 0;
    }
  }

  h2 {
    padding-top: $step3;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
}
