@import "../_colors";
@import "../_sizes";

.cards {
  & > * {
    margin: 12px;
  }

  align-items: stretch;
  padding: 12px 0;
}

.card {
  display: block;
  text-align: center;
  padding: 5 * $step;
  background-color: $white;
  border: 1px solid $secondary-button-color;
  border-radius: $step;
  text-decoration: none;
  font-weight: bold;

  //todo does it work?
  transition: color 0.5s ease;

  .theme-icon {
    display: block;
    font-size: 6.0rem;
    color: $muted-color;
    margin: $step2;
  }
  &:hover {
    border-color: $secondary-button-color-active;

    .theme-icon {
      color: $hovered-color;
    }
  }
}
