<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or eleventyNavigation.title }} | {{ site.name }}</title>
  <meta name="Description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">

  {% for size in metadata.icons.appleTouchIcon %}
    {%- set sizeStr = size + 'x' + size -%}
    <link rel="apple-touch-icon" sizes="{{ sizeStr }}" href="{{ '/images/ico/apple-icon-' + sizeStr + '.png' | url }}"/>
  {% endfor %}
  {% for size in metadata.icons.favicon %}
    {%- set sizeStr = size + 'x' + size -%}
    <link rel="icon" type="image/png" sizes="{{ sizeStr }}"
          href="{{ '/images/ico/favicon-' + sizeStr + '.png' | url }}"/>
  {% endfor %}
  <link rel="manifest" href="{{ '/manifest.json' | url }}"/>

  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
  <meta name="theme-color" content="#ffffff"/>
</head>
<body>

<div class="main-menu-switch">
  <a id="display-site-menu-main" title="Zobrazit navigaci">{% icon 'menu' %}</a>
</div>

<header class="" id="site-menu-main">
  <div class="container site-header">
    <a href="{{ '/' | url }}" title="Jiří Bažant: Úvod" class="site-logo">{% icon 'circular-graph' %}</a>

    <nav class="navigation navigation-top">
      <ul>
        <ul><li><a href="{{ '/' | url }}"><span>Úvod</span></a></li></ul>
        {% for page in collections.all | eleventyNavigation %}
          <ul><li><a href="{{ page.url | url }}"><span>{{ page.title }}</span></a></li></ul>
        {% endfor %}
      </ul>
    </nav>

    <a title="Zavřít navigaci" class="main-menu-close" id="close-site-menu-main">{% icon 'cross' %}</a>
  </div>
</header>
<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  {{ content | safe }}
</main>
<footer>
  <div class="container">
    <div class="social">
      <a href="https://twitter.com/JiriBazant" title="Twitter">{% icon 'twitter-with-circle' %}</a>
      <a href="https://www.linkedin.com/in/jiří-bažant-5639a053" title="LinkedIn">{% icon 'linkedin-with-circle' %}</a>
      <a href="https://github.com/jbazant" title="GitHub">{% icon 'github-with-circle' %}</a>
    </div>
    <div class="copy">
      <span>&copy; Jiří Bažant</span>
    </div>
  </div>
</footer>
<script>{% include 'scripts/ga.js' %}</script>
<script src="{{ '/js/main.js' | url }}"></script>
</body>
</html>
