---
layout: layouts/_base.njk
templateClass: tmpl-basic
---
<section class="page-header">
  <div class="container">
    <h1 class="home">{{ (eleventyNavigation.title or title) | safe }}</h1>
  </div>
</section>

{{ content | safe }}
