<!doctype html>
<html lang="cs">
<head>
{% include 'partials/_head.njk' %}
  <meta name="robots" content="noindex, follow" />
</head>
<body>
  {% include 'partials/_header.njk' %}
  <main class="error container--flex-grow {% if templateClass %}{{ templateClass }}{% endif %}">
    {{ content | safe }}
  </main>
  {% include 'partials/_footer.njk' %}
  <script src="{{ ('/js/error.js?v=' + cache.jsTimestamp) | url }}"></script>
</body>
</html>
