<!doctype html>
<html lang="en">
{% include 'partials/_head.njk' %}
<body>
  {% include 'partials/_header.njk' %}
  <main class="error {% if templateClass %}{{ templateClass }}{% endif %}">
    {{ content | safe }}
  </main>
  {% include 'partials/_footer.njk' %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159918314-1"></script>
  <script src="{{ '/js/error.js?v=201105' | url }}"></script>
</body>
</html>
