---
layout: layouts/_base.njk
templateClass: tmpl-home
---
<section class="hero">
  <div class="container">
    <h1>Jirka Bažant</h1>
    <h2>Veřejně přístupné osobní pískoviště</h2>
  </div>
</section>
{{ content | safe }}
