@mixin opacityGlitch($name, $duration) {
  // max point should be 0.97 (1 - $blinkDuration)
  $points: 0.04 0.1 0.3 0.4 0.6 0.8 0.88 0.9 0.97;
  $opacity: 0;
  $blinkDuration: 0.03;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: #{$name}-anim #{$duration}s 1 linear normal;
  }

  @at-root {
    @keyframes #{$name}-anim {
      @each $point in $points {
        #{percentage($point)} {
          opacity: #{$opacity};
        }
        $opacity: 1 - $opacity;
        #{percentage($point + $blinkDuration)} {
          opacity: $opacity;
        }
      }
    }
  }
}
