---
tags: ['bed', '3D Prints', 'OpenSCAD']
title: OpenSCAD modely
description: Modely pro 3D tisk vytvořené pomocí OpenSCAD.
dynamicPermalink: false
url: https://github.com/jbazant/openscad-models
sitemap:
  exclude: true
---