---
layout: layouts/basic.njk
// tags: ['bed', '11ty.js', 'SASS', 'Typescript']
title: Tento web
description: Statický web generovaný pomocí 11ty.js
sitemap:
  priority: 0.2
  lastmod: "2020-11-05"
---

Generováno pomoocí 11ty s důrazem na rychlost.