---
layout: layouts/basic.njk
// tags: ['bed', '11ty.js', 'SASS', 'Typescript']
title: Tento web
description: Statický web generovaný pomocí 11ty.js
sitemap:
  priority: 0.6
  lastmod: "2020-11-05"
  exclude: true
---

* Generováno pomocí 11ty s důrazem na rychlost a bezpečnost.
* Výsledky testů:
  - lighthouse
  - mozilla observatory