---
layout: layouts/basic.njk
tags: ['bed', 'WebGL', 'Three.js']
title: Záliv
description: Three.js a GLSL 3D scéna.
sitemap:
  priority: 0.2
  lastmod: "2020-11-02"
---
<section class="top">
  <p>Relaxujme.</p>
</section>
<section class="basic">
  <div class="container">
    <p><a href="{{ '/zahrada' | url }}">&lt; Zpět do zahrady</a></p>

    <div class="abs" id="loading-info-placeholder">
      <h2>Animace se načítá...</h2>
      <p>...a až se načte, tak tu zatopí.</p>
      <p>
        Pokud se chystáte něco vařit, nebo smažit. Je správný čas to připravit a položit na Váš stroj.
      </p>
    </div>

    <div class="no-vis abs" id="loading-error-placeholder">
      <h2>Tak to se nepovedlo...</h2>
      <p>Něco se někde, nějak, pokazilo.</p>
      <p>Nebo jste na opravdu pomalém připojení.</p>
      <p>Nebo jsem prostě něco pokazil já a všechno se rozsypalo. (Slyšíte chrastění?)</p>
      <p>A nebo tu prostě jen někdo měl smůlu.</p>
    </div>
  </div>

  <div id="animation-wrapper" class="container container--animation">
    <canvas id="water-canvas"></canvas>
  </div>
</section>

<script src="{{ '/js/scene.js' | url }}"></script>