---
layout: layouts/basic.njk
tags: top
sitemap:
  priority: 0.4
eleventyNavigation:
  key: references
  title: Reference
  description: Zajímavé webové a mobilní projekty, na&nbsp;kterých jsem se podílel jako vývojář.
  order: 2
  icon: archive
---
<section class="top">
  <div class="container">
    <p>
      Ukázky zajímavých projektů, na&nbsp;kterých jsem se podílel. Většina projektů není jen mým vlastním dílem,
      ale podílely se na&nbsp;nich různě velké týmy šikovných lidí.
    </p>
  </div>
</section>

{% set anim = cycler("scroll-transition-right", "scroll-transition-left") %}
{%- for entry in collections.references %}
  <section class="basic section--reference">
    <div class="container {{ anim.next() }}">
      <h2>{{ entry.data.title }}</h2>
      <div class="flex-grid flex-grid--wide">
        {{ entry.templateContent | safe }}
      </div>
    </div>
  </section>
{%- endfor %}
