$primary-color: #26122f;
$primary-color-light: #352742;
$primary-color-dark: #160a1a;

$text-empathized: #453356;
$text-empathized-light: #7c5b99;

$dark: #333;
$darker: #222;

$alert-text: #770606;

// todo light?
$light-background: #eee;
$light-text: #eee;

// todo rename
$white: #fff;
$grey: #999;

$muted-color: #555;
$hovered-color: $dark;

$common-heading: $text-empathized;

// inherited from skeleton - has to be refefined
// todo define pallete and inherit from it
$primary-button-color: $primary-color-light; //#33C3F0;
$primary-button-color-active: $primary-color;// #1EAEDB;
$primary-button-text-color: $white;
$primary-button-text-color-active: $white;

$secondary-button-color: #bbb;
$secondary-button-color-active: #888;
$secondary-button-text-color: #555;
$secondary-button-text-color-active: #333;

$primary-text-color: #222;
$link-color: $text-empathized;
$link-color-active: $text-empathized-light;

$input-background-color: #fff;
$input-border-color: #D1D1D1;

$code-background-color: #F1F1F1;
$code-border-color: #E1E1E1;

$hr-color: #E1E1E1;
