$primary-color: #26122f;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);

$text-empathized: #453356;
$text-empathized-light: #7c5b99;

$dark: #333;
$darker: #222;

$alert-text: #770606;

$light-background: #eee;
$light-text: #eee;

$white: #fff;
$grey: #999;

$muted-color: #555;
$hovered-color: $dark;

$common-heading: $text-empathized;

// inherited from skeleton - has to be refined
$primary-button-color: $primary-color-light;
$primary-button-color-active: $primary-color;
$primary-button-text-color: $white;
$primary-button-text-color-active: $white;

$secondary-button-color: #bbb;
$secondary-button-color-active: #888;
$secondary-button-text-color: #555;
$secondary-button-text-color-active: #333;

$primary-text-color: #222;
$link-color: $text-empathized;
$link-color-active: $text-empathized-light;

$input-background-color: #fff;
$input-border-color: #D1D1D1;

$code-background-color: #F1F1F1;
$code-border-color: #E1E1E1;

$hr-color: #E1E1E1;
