@import "./_colors";

h1:before {
  content: "Jirka Bažant - ";

  .tmpl-home & {
    content: none;
  }
}

.hero, .page-header, .page-not-found {
  h1, h2 {
    color: $common-heading;
    text-align: center;
  }

  background: none;
}

.main-menu-switch, header, footer, .no-print {
  display: none;
}

.section--reference {
  page-break-before: always;
}

.col-img .m700, .col-img .m300 {
  max-height: 300px;
  width: auto;
}