@use "variables";

@font-face {
  font-family: '#{variables.$icomoon-font-family}';
  src:  url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.eot');
  src:  url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.eot?#iefix') format('embedded-opentype'),
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.ttf') format('truetype'),
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.woff') format('woff'),
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.svg##{variables.$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{variables.$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archive {
  &:before {
    content: variables.$icon-archive;
  }
}
.icon-check {
  &:before {
    content: variables.$icon-check;
  }
}
.icon-circular-graph {
  &:before {
    content: variables.$icon-circular-graph;
  }
}
.icon-cross {
  &:before {
    content: variables.$icon-cross;
  }
}
.icon-cw {
  &:before {
    content: variables.$icon-cw;
  }
}
.icon-cycle {
  &:before {
    content: variables.$icon-cycle;
  }
}
.icon-home {
  &:before {
    content: variables.$icon-home;
  }
}
.icon-link {
  &:before {
    content: variables.$icon-link;
  }
}
.icon-mail {
  &:before {
    content: variables.$icon-mail;
  }
}
.icon-menu {
  &:before {
    content: variables.$icon-menu;
  }
}
.icon-tree {
  &:before {
    content: variables.$icon-tree;
  }
}
.icon-user {
  &:before {
    content: variables.$icon-user;
  }
}
.icon-github-with-circle {
  &:before {
    content: variables.$icon-github-with-circle;
  }
}
.icon-linkedin-with-circle {
  &:before {
    content: variables.$icon-linkedin-with-circle;
  }
}
.icon-twitter-with-circle {
  &:before {
    content: variables.$icon-twitter-with-circle;
  }
}

