$icomoon-font-family: "entypo" !default;
$icomoon-font-path: "../fonts" !default;

$icon-archive: "\e900";
$icon-check: "\e901";
$icon-circular-graph: "\e902";
$icon-cross: "\e903";
$icon-cw: "\e904";
$icon-cycle: "\e905";
$icon-home: "\e906";
$icon-link: "\e907";
$icon-mail: "\e908";
$icon-menu: "\e909";
$icon-tree: "\e90a";
$icon-user: "\e90b";
$icon-github-with-circle: "\e90c";
$icon-linkedin-with-circle: "\e90d";
$icon-twitter-with-circle: "\e90e";

