@use "../_colors";
@use "../_sizes";

.cards {
  align-items: stretch;
  padding: 12px 0;

  & > * {
    margin: 12px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10 * sizes.$step 5 * sizes.$step;
  background-color: colors.$white;
  border: 1px solid colors.$secondary-button-color;
  border-radius: sizes.$step;
  text-decoration: none;
  font-weight: bold;

  // do not distinguish between h2 and h3
  h2 {
    font-size: 3.0rem;
  }

  &, h2, h3, .theme-icon {
    color: colors.$muted-color;
    transition: sizes.$transition-default;
  }

  p {
    margin: 1em 0 0 0;
  }

  .theme-icon {
    display: block;
    font-size: 6.0rem;
  }

  &:hover {
    border-color: colors.$secondary-button-color-active;
    box-shadow: 1px 1px 2px 2px #ccc;

    &, h2, h3, .theme-icon {
      color: colors.$hovered-color;
      transition: sizes.$transition-default;
    }
  }
}