@import "../_colors";
@import "../_sizes";

.cards {
  & > * {
    margin: 12px;
  }

  align-items: stretch;
  padding: 12px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10 * $step 5 * $step;
  background-color: $white;
  border: 1px solid $secondary-button-color;
  border-radius: $step;
  text-decoration: none;
  font-weight: bold;

  // do not distinguish between h2 and h3
  h2 {
    font-size: 3.0rem;
  }

  &, h2, h3, .theme-icon {
    color: $muted-color;
    transition: $transition-default;
  }

  p {
    margin: 1em 0 0 0;
  }

  .theme-icon {
    display: block;
    font-size: 6.0rem;
  }

  &:hover {
    border-color: $secondary-button-color-active;
    box-shadow: 1px 1px 2px 2px #ccc;

    &, h2, h3, .theme-icon {
      color: $hovered-color;
      transition: $transition-default;
    }
  }
}