@import "../colors";

.container {
  &--flex {
    display: flex;
  }

  &--flex-grow {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &--overflow {
    overflow-x: auto;
  }
}

a.social {
  text-decoration: none;

  .icon {
    font-size: 1.5em;
    vertical-align: middle;
  }
}

.no-vis, .print-only-text, .print-only-block {
  display: none;
}


@media print {
  h1:before {
    content: "Jirka Bažant - ";

    .tmpl-home & {
      content: none;
    }
  }

  .no-print {
    display: none;
  }

  .print-only-text {
    display: inline;
  }

  .print-only-block {
    display: block;
  }
}