@use "../colors";
@use "../_mixins/blurIn";

html {
  scroll-behavior: smooth;
}

.tmpl-home, .tmpl-basic {
  h1 {
    @include blurIn.blurIn('h1-blur', 1);
  }
}

.container {
  &--flex {
    display: flex;
  }

  &--flex-grow {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &--overflow {
    overflow-x: auto;
  }
}

a.social {
  text-decoration: none;

  .icon {
    font-size: 1.5em;
    vertical-align: middle;
  }
}

.no-vis, .print-only-text, .print-only-block {
  display: none;
}

