@import "../_colors";
@import "../_sizes";

.contact-form {
  max-width: 500px;
  padding: $step * 10 $step2;

  input, textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    overflow: visible;
    height: 110px;
  }

  .form-error {
    color: $alert-text;
    font-style: italic;
    font-size: 0.9em;
    margin: -$step2 $step2 $step $step2;
  }

  .form-field-error {
    color: $alert-text;
    border: 1px solid $alert-text;
  }

  .form-success-info {
    font-size: 2em;
    text-align: center;
  }
}

@media (min-width: 550px) {
  .contact-form {
    textarea {
      height: 210px;
    }
  }
}

.form-actions {
  display: flex;
  flex-direction: row-reverse;
}
