@use '../_colors';
@use '../_sizes';

.contact-form {
  form {
    margin: 0;
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    overflow: visible;
    height: 110px;
  }

  .form-error {
    color: colors.$alert-text;
    font-style: italic;
    font-size: 0.9em;
    margin: -(sizes.$step2) sizes.$step2 sizes.$step sizes.$step2;
  }

  .form-field-error {
    color: colors.$alert-text;
    border: 1px solid colors.$alert-text;
  }

  .form-success-info {
    font-size: 2em;
    text-align: center;
  }
}

@media (min-width: 550px) {
  .contact-form {
    textarea {
      height: 210px;
    }
  }
}

.form-actions {
  display: flex;
  flex-direction: row-reverse;
}

.contact-card {
  padding: 10 * sizes.$step 5 * sizes.$step;
  background-color: colors.$white;
  border: 1px solid colors.$secondary-button-color;
  border-radius: sizes.$step;
  flex: 3;

  @media screen {
    &:hover {
      border-color: colors.$secondary-button-color-active;
      box-shadow: 1px 1px 2px 2px #ccc;
    }
  }
}

.contact-social {
  padding: 10 * sizes.$step + 1 5 * sizes.$step;
  flex: 2;

  @media screen {
    hr {
      border-color: colors.$dark;
    }
  }
}