@import '../_colors';
@import '../_sizes';

.contact-form {
  form {
    margin: 0;
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    overflow: visible;
    height: 110px;
  }

  .form-error {
    color: $alert-text;
    font-style: italic;
    font-size: 0.9em;
    margin: -$step2 $step2 $step $step2;
  }

  .form-field-error {
    color: $alert-text;
    border: 1px solid $alert-text;
  }

  .form-success-info {
    font-size: 2em;
    text-align: center;
  }
}

@media (min-width: 550px) {
  .contact-form {
    textarea {
      height: 210px;
    }
  }
}

.form-actions {
  display: flex;
  flex-direction: row-reverse;
}

.contact-card {
  padding: 10 * $step 5 * $step;
  background-color: $white;
  border: 1px solid $secondary-button-color;
  border-radius: $step;
  flex: 3;

  @media screen {
    &:hover {
      border-color: $secondary-button-color-active;
      box-shadow: 1px 1px 2px 2px #ccc;
    }
  }
}

.contact-social {
  padding: 10 * $step + 1 5 * $step;
  flex: 2;

  @media screen {
    hr {
      border-color: $dark;
    }
  }
}