@use '../colors';
@use '../_sizes';

footer {
  background-color: colors.$dark;

  @media print {
    display: none;
  }

  .container {
    padding: sizes.$step3;

    /* Larger than phablet */
    @media (min-width: 550px) {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > * {
        margin: 10 * sizes.$step sizes.$step3;
      }
    }
  }

  a {
    font-size: 30px;
    text-decoration: none;
    color: colors.$grey;
    transition: color sizes.$transition-default ease;
    margin-right: 8px;

    &:hover {
      color: colors.$white;
    }
  }

  .copy {
    color: colors.$light-text;
  }
}
