@import "../_colors";
@import "../_sizes";

.flex-grid {
  display: block;
  box-sizing: border-box;
}

.col {
  flex: 1;
  margin: $step;
  box-sizing: border-box;
  padding: $step2;
}

.col-nopad {
  padding: 0;
}

.col-img {
  display: flex;
  justify-content: center;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .m700 {
    max-width: 700px;
  }

  .m300 {
    max-width: 300px;
  }
}

@media (min-width: 550px) {
  .flex-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .col {
    flex-basis: 100%;
  }
  .col-half {
    flex-basis: 45%;
  }

  .col-img {
    order: 2;
  }
}

@media (min-width: 550px) and (max-width: 900px) {
  .flex-grid--wide {
    display: block;
    box-sizing: border-box;

    .col-half {
      flex-basis: auto;
    }
  }
}

.center-content {
  display: flex;
  align-items: center;
}




