@import "../_colors";
@import "../_sizes";
@import "../_mixins/visualIdentity";
@import "../_mixins/blurIn";


.page-header, .hero, .page-not-found {
  @include heroBackground();

  h1, h2 {
    color: $light-text;
  }


  @media print {
    h1, h2 {
      color: $common-heading;
      text-align: center;
    }

    background: none;
  }
}

.page-header {
  $vertical-padding: $step3 * 2;
  padding: $vertical-padding 0 $vertical-padding;

  h1 {
    margin:0;
  }

  @media (min-width: 550px) {
    // 60px is static menu
    padding-top: $vertical-padding + 60;
  }
}

.hero, .page-not-found {
  $vertical-padding: $step * 20;
  padding: $vertical-padding $step;

  @media (min-width: 400px) {
    padding: $vertical-padding $step * 5;
  }
  @media (min-width: 550px) {
    // 60px is static menu
    padding-top: $vertical-padding + 60;
  }
}

.hero h2 {
  @include blurIn('h2hero-blur', 1.5);
}