@use "../_colors";
@use "../_sizes";
@use "../_mixins/visualIdentity";
@use "../_mixins/blurIn";


.page-header, .hero, .page-not-found {
  @include visualIdentity.heroBackground();

  h1, h2 {
    color: colors.$light-text;
  }


  @media print {
    h1, h2 {
      color: colors.$common-heading;
      text-align: center;
    }

    background: none;
  }
}

.page-header {
  $vertical-padding: sizes.$step3 * 2;
  padding: $vertical-padding 0 $vertical-padding;

  h1 {
    margin:0;
  }

  @media (min-width: 550px) {
    // 60px is static menu
    padding-top: $vertical-padding + 60;
  }
}

.hero, .page-not-found {
  $vertical-padding: sizes.$step * 20;
  padding: $vertical-padding sizes.$step;

  @media (min-width: 400px) {
    padding: $vertical-padding sizes.$step * 5;
  }
  @media (min-width: 550px) {
    // 60px is static menu
    padding-top: $vertical-padding + 60;
  }
}

.hero h2 {
  @include blurIn.blurIn('h2hero-blur', 1.5);
}