@use "sass:color";
@use "../_colors";
@use "../_sizes";

section {
  &.basic {
    background-color: colors.$white;
    padding: sizes.$step * 20 0 sizes.$step * 15;

    &:nth-child(odd) {
      background-color: colors.$light-background;
      margin: 0;
    }

    h2 {
      padding-top: sizes.$step3;
      border-bottom: 1px solid colors.$grey;
    }

    @media (min-width: 550px) {
      padding: sizes.$step * 30 0 sizes.$step * 20;
    }

    // We need to go deeper
    // (NO! This is actually already too much.)
    @media screen {
      &.section-cards {
        background: color.adjust(colors.$primary-color-light, $lightness: 10%) url('../images/code.jpeg') no-repeat fixed center center;
        background-size: cover;

        h2 {
          color: white;
          border-bottom: none;
          text-align: center;
        }
      }
    }
  }

  &.top {
    background-color: colors.$white;
    padding: sizes.$step * 10 sizes.$step2 sizes.$step * 10;

    p {
      margin: 2.5rem;
      font-size: 1.2em;
      font-weight: bold;
      font-style: oblique;
      color: colors.$muted-color;
      text-align: center;
    }

    @media (min-width: 550px) {
      padding: sizes.$step * 15 0 sizes.$step * 15;
    }
  }

  &.ua {
    padding: 0;
    margin: 0;
    $ua-blue: #0057b7;
    $ua-yellow: #ffdd00;

    .container {
      background: linear-gradient(to bottom, $ua-blue 50%, $ua-yellow 50%);
      position: relative;

      @media (min-width: 400px) {
        width: 100%;
      }
    }

    .ua-row {
      text-align: center;
      font-size: 32px;
      font-weight: bold;
      letter-spacing: .4rem;
      margin: 0;

      &-1 {
        color: $ua-yellow;
        padding: 80px 10px 50px;
      }
      &-2 {
        color: $ua-blue;
        padding: 50px 10px 80px;
      }
    }
  }

  &.news {
    padding: sizes.$step * 10 sizes.$step2 sizes.$step * 10;
    p {
      margin: 2.5rem;
      font-size: 1.2em;
      font-weight: bold;
      color: colors.$common-heading;
      text-align: center;
    }
  }
}
