@import "../_colors";
@import "../_sizes";

section.basic {
  background-color: $white;
  padding: $step * 5 0;

  &:nth-child(odd) {
    background-color: $light-background;
    margin: 0;
  }

  h2 {
    padding-top: $step3;
    border-bottom: 1px solid $grey;
  }
}

section.top {
  background-color: $white;
  padding: $step * 5 $step2;

  p {
    margin: 2.5rem;
    font-size: 1.2em;
    font-weight: bold;
    font-style: oblique;
    color: $muted-color;
    text-align: center;
  }
}

@media print {
  .section--reference {
    page-break-before: always;
  }
}
