@use "../_colors";
@use "../_sizes";
@use "../_mixins/visualIdentity";

table {
  &.smaller {
    font-size: 0.8em;
  }
  &.no-margin {
    margin: 0;
  }

  &.nowrap td {
      white-space: nowrap;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
}

@media (min-width: 750px) {
  table.nowrap th {
    white-space: nowrap;
  }
}

th, td {
  padding: sizes.$step sizes.$step2;
}

thead {
  color: colors.$white;
  border-bottom: 1px colors.$darker solid;

  @include visualIdentity.heroBackground();

  th {
    text-align: center;
    border-right: 1px solid colors.$white;

    &:last-child {
      border-right: none;
    }
  }
}

tbody {
  td {
    &.wide {
      width: 99%;
    }

    a {
      font-weight: normal;
    }
  }

  tr:nth-child(even) {
    background-color: colors.$white;
  }
}