@use "../_sizes";
@use "../_colors";
@use "../_mixins/visualIdentity";

.tag{
  font-size: 0.8em;
  display: inline-block;
  color: colors.$white;
  padding: 0 sizes.$step2;
  border-radius: 1em;

  &-0 {
    @include visualIdentity.withDarkenGradient(#fff100);
  }
  &-1 {
    @include visualIdentity.withDarkenGradient(#ff8c00);
  }
  &-2 {
    @include visualIdentity.withDarkenGradient(#e81123);
  }
  &-3 {
    @include visualIdentity.withDarkenGradient(#ec008c);
  }
  &-4 {
    @include visualIdentity.withDarkenGradient(#68217a);
  }
  &-5 {
    @include visualIdentity.withDarkenGradient(#00188f);
  }
  &-6 {
    @include visualIdentity.withDarkenGradient(#00bcf2);
  }
  &-7 {
    @include visualIdentity.withDarkenGradient(#00b294);
  }
  &-8 {
    @include visualIdentity.withDarkenGradient(#009e49);
  }
  &-9 {
    @include visualIdentity.withDarkenGradient(#bad80a);
  }
}