
# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# 404 Page not found
ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
  # force non www variant
  RewriteEngine On
  RewriteBase /
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

  # force https
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # use nice URL for some pages
  RewriteRule dlt tools/dlt.php [L]
  RewriteRule deeplink tools/dlt.php [L]
  RewriteRule deeplink-tester tools/dlt.php [L]

  # Redirect /.well-known URLs
  RewriteRule .well-known/manifest.json /manifest.json [L]

  # Redirect old pages
  Redirect 301 /kontakt https://bazant.dev
  Redirect 301 /kontakt/index.html https://bazant.dev
  Redirect 301 /ja https://bazant.dev
  Redirect 301 /ja/index.html https://bazant.dev

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>

    # speed optimizations (probably not allowed by hosting)
    Header set Connection keep-alive

    # SECURITY
    # CSP
    Header set Content-Security-Policy "default-src 'none'; script-src 'self' https://cdn.jsdelivr.net; img-src 'self'; connect-src 'self' https://formspree.io; style-src 'self'; object-src 'none'; base-uri 'none'; font-src 'self'; frame-ancestors 'none'; frame-src 'self';  manifest-src 'self'; media-src 'self'; worker-src 'self'; form-action 'self' https://formspree.io;"

    # other security headers
    Header set X-Frame-Options DENY
    Header set Referrer-Policy strict-origin-when-cross-origin

    # already set by hosting
    #Header set X-Content-Type-Options nosniff
    #Header set X-XSS-Protection "1; mode=block"

    # We need to set correct content-type for fonts
    AddType application/vnd.ms-fontobject .eot
    AddType application/x-font-ttf .ttf
    AddType application/x-font-opentype .otf
    AddType application/x-font-woff .woff
    AddType image/svg+xml .svg

    <Files "manifest.json">
      # beware - this is pretty hungry assumption
      AddType application/manifest+json .json
    </Files>

    <IfModule mod_expires.c>
      ExpiresActive On

      ExpiresDefault "access plus 10 seconds"

      # HTML
      ExpiresByType text/html "access plus 1 hour"

      # Images
      ExpiresByType image/jpeg "access plus 1 year"
      ExpiresByType image/gif "access plus 1 year"
      ExpiresByType image/png "access plus 1 year"
      ExpiresByType image/webp "access plus 1 year"
      ExpiresByType image/svg+xml "access plus 1 year"
      ExpiresByType image/x-icon "access plus 1 year"

      # Video
      ExpiresByType video/mp4 "access plus 1 month"
      ExpiresByType video/mpeg "access plus 1 month"

      # CSS, JavaScript
      ExpiresByType text/css "access plus 1 hour"
      ExpiresByType text/javascript "access plus 1 hour"
      ExpiresByType application/javascript "access plus 1 hour"

      # Manifest files
      ExpiresByType application/manifest+json "access plus 1 week"

      # Fonts
      ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
      ExpiresByType application/x-font-ttf "access plus 1 year"
      ExpiresByType application/x-font-opentype "access plus 1 year"
      ExpiresByType application/x-font-woff "access plus 1 year"

      # Others
      ExpiresByType application/pdf "access plus 1 month"
      ExpiresByType application/x-shockwave-flash "access plus 1 month"
    </IfModule>
  </IfModule>
</IfModule>

<IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE "application/atom+xml" \
                                  "application/javascript" \
                                  "application/json" \
                                  "application/ld+json" \
                                  "application/manifest+json" \
                                  "application/rdf+xml" \
                                  "application/rss+xml" \
                                  "application/schema+json" \
                                  "application/vnd.geo+json" \
                                  "application/vnd.ms-fontobject" \
                                  "application/x-font-ttf" \
                                  "application/x-javascript" \
                                  "application/x-web-app-manifest+json" \
                                  "application/xhtml+xml" \
                                  "application/xml" \
                                  "font/eot" \
                                  "font/opentype" \
                                  "image/bmp" \
                                  "image/svg+xml" \
                                  "image/vnd.microsoft.icon" \
                                  "image/x-icon" \
                                  "text/cache-manifest" \
                                  "text/css" \
                                  "text/html" \
                                  "text/javascript" \
                                  "text/plain" \
                                  "text/vcard" \
                                  "text/vnd.rim.location.xloc" \
                                  "text/vtt" \
                                  "text/x-component" \
                                  "text/x-cross-domain-policy" \
                                  "text/xml"
</IfModule>