---
layout: layouts/error.njk
permalink: /404.html
eleventyExcludeFromCollections: true
dynamicPermalink: false
templateClass: page-not-found
---

<section class="error-page-info">
  <div class="glitchy">
    <h1 data-text="404">404</h1>
    <h2 data-text="Stránka nenalezena">Stránka nenalezena</h2>
    <a href="{{ '/' }}" class="button button-secondary">&lt; Zpět na úvod</a>
  </div>
</section>

