---
permalink: /pwa-files.json
eleventyExcludeFromCollections: true
dynamicPermalink: false

# NOTE that this can be probably achieved nicely with shortcode and JSON.stringify
---
{
  "date": "{{ pwa.buildTimeISO }}",
  "files": [
    "{{ '/offline.html' | url }}",
    {%- for page in collections.all %}
      {%- if not page.data.excludeFromPWAPrecache and page.url %}
    "{{ page.url | url }}",
      {%- endif %}
    {%- endfor %}
    {%- for asset in pwa.assetsToPrecache %}
    "{{ asset | url }}"{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}