---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
dynamicPermalink: false

# todo pgp klic a podepsat soubor?
---
Contact: {{ '/#kontakt' | absoluteUrl(metadata.url) }}
Contact: https://www.reddit.com/message/compose/?to=bzaba
Preferred-Languages: cs, en
Canonical: {{ '/.well-known/security.txt' | absoluteUrl(metadata.url) }}

