---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
dynamicPermalink: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
    {%- set ps = page.data.sitemap %}
    {%- if not ps.exclude and page.url %}
      {%- set absoluteUrl = page.url | url | absoluteUrl(metadata.url) %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ ps.lastmod or (page.inputPath | stat('mtime')) | htmlDateString }}</lastmod>
    <changefreq>{{ ps.changeFrequency or sitemap.defaultChangeFrequency }}</changefreq>
    <priority>{{ ps.priority or sitemap.defaultPriority }}</priority>
  </url>
    {%- endif %}
  {%- endfor %}
</urlset>
