---
layout: layouts/home.njk
title: Úvod
sitemap:
  priority: 1
---
<section class="top">
  <div class="container">
    <p>Soukromý web a galerie neznámého fullstack webového a mobilního programátora z&nbsp;Teplic.</p>
  </div>
</section>

<section>
  <div class="container flex-grid cards">
    {% set anim = cycler("scroll-transition-ltr", "scroll-transition-rtl transition-postponed") %}
    {%- for entry in collections.all | eleventyNavigation %}
        <a class="col col-half card {{ anim.next() }}" href="{{ entry.url | url }}">
          <div>
            {% icon entry.icon, 'theme-icon' %}
            <h3>{{ entry.title | safe }}</h3>
          </div>
            <p>{{ entry.description | safe }}</p>
        </a>
    {%- endfor %}
  </div>
</section>
