---
layout: layouts/home.njk
title: Úvod
sitemap:
  priority: 1
---
<section class="top">
  <div class="container">
    <p>Soukromý web a galerie neznámého fullstack webového a mobilního programátora z&nbsp;Teplic.</p>
  </div>
</section>

<section class="no-print ua">
  <div class="container">
    <p class="ua-row ua-row-1">Русский военный корабль</p>
    <p class="ua-row ua-row-2">иди на&nbsp;хуй!</p>
    <div class="flag-effect"></div>
  </div>
</section>

<section class="basic no-print news">
  <div class="container">
  </div>
</section>

<section class="basic no-print section-cards">
  <div class="container">
    <h2 class="scroll-transition scroll-transition-ltr">Moje práce</h2>
    <div class="flex-grid cards">
      {% set anim = cycler("scroll-transition-ltr", "scroll-transition-rtl ") %}
      {%- for entry in collections.all | eleventyNavigation %}
        <a class="col col-half card scroll-transition transition-postponed {{ anim.next() }}" href="{{ entry.url | url }}">
          <div>
            {% icon entry.icon, 'theme-icon' %}
            <h3>{{ entry.title | safe }}</h3>
          </div>
          <p>{{ entry.description | safe }}</p>
        </a>
      {%- endfor %}
    </div>
  </div>
</section>

{%- for entry in collections.about_me %}
  <section class="basic print-break-before" id="ja">
    <div class="container scroll-transition scroll-transition-rtl">
      {{ entry.templateContent | safe }}
    </div>
  </section>
{%- endfor %}

<section class="basic print-break-before contact" id="kontakt">
  <div class="container flex-grid">
    <div class="col col-half scroll-transition scroll-transition-ltr contact-card">
      <h3>Kontakt</h3>
      <hr/>
      <div class="contact-form no-print">
        <form id="contact-form"
              action="https://formspree.io/mlepwpnl"
              method="POST"
        >
          <div>
            <label for="contact-form-email">Váš email:</label>
            <input type="email" name="email" id="contact-form-email"/>
          </div>
          <div>
            <label for="contact-form-message">Zpráva:</label>
            <textarea name="message" id="contact-form-message"></textarea>
          </div>
          <div class="no-vis">
            <label for="contact-form-name">Nevyplňujte (tedy pokud nejste robot):</label>
            <input type="text" name="_gotcha" id="contact-form-name"/>
          </div>
          <div class="form-actions">
            <button id="contact-form-submit" class="button-primary">Odeslat</button>
          </div>
        </form>
      </div>
      <div class="print-only-block">
        <p>Pomocí formuláře na&nbsp;mém webu <a
              href="{{ page.url | absoluteUrl(metadata.url) }}">{{ page.url | absoluteUrl(metadata.url) }}</a>.</p>
        <p>Také tam můžete najít ukázky z mé práce.</p>
      </div>
    </div>

    <div class="col col-half scroll-transition scroll-transition-rtl transition-postponed contact-social">
      <h3>Nebo zkuste socky</h3>
      <hr/>
      <p>
        <a href="https://www.linkedin.com/in/jiri-bazant/" title="LinkedIn" class="social"><span
              class="ico">{% icon 'linkedin-with-circle' %}</span> LinkedIn</a>
        <span class="print-only-text"> - https://www.linkedin.com/in/jiri-bazant/</span>
      </p>
      <p>
        <a href="https://www.printables.com/@JirkaB" title="Twitter" class="social"><span
              class="ico">{% icon 'network' %}</span> Printables</a>
        <span class="print-only-text"> - https://www.printables.com/@JirkaB</span>
      </p>
    </div>
  </div>
</section>
