---
layout: layouts/home.njk
title: Úvod
sitemap:
  priority: 1
---
<section class="top">
  <div class="container">
    <p>Soukromý web a galerie neznámého webového a mobilního programátora z&nbsp;Teplic.</p>
  </div>
</section>

<section>
  <div class="container flex-grid cards">
    {%- for entry in collections.all | eleventyNavigation %}
        <a class="col col-half card" href="{{ entry.url | url }}">
            {% icon entry.icon, 'theme-icon' %}
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.excerpt }}</p>
        </a>
    {%- endfor %}
  </div>
</section>
