---
layout: layouts/basic.njk
tags: top
sitemap:
  priority: 0.1
eleventyNavigation:
  key: contact
  title: Kontakt
  description: Zaujala Vás moje činnost? Napište mi.
  order: 4
  icon: mail
---

<section class="top">
  <div class="container">
    <p>Zaujala Vás moje práce? Zaujal jsem Vás já? Napište mi! Slibuji, že aspoň první zprávu si přečtu.</p>
  </div>
</section>

<section class="basic">
  <div class="container">
    <h2>Rychlá zpráva</h2>
    <div class="container contact-form no-print">
      <form id="contact-form"
            action="https://formspree.io/mlepwpnl"
            method="POST"
      >
        <div>
          <label for="contact-form-email">Váš email:</label>
          <input type="email" name="email" id="contact-form-email"/>
        </div>
        <div>
          <label for="contact-form-message">Zpráva:</label>
          <textarea name="message" id="contact-form-message"></textarea>
        </div>
        <div class="form-actions">
          <button id="contact-form-submit" class="button-primary">Odeslat</button>
        </div>
      </form>
    </div>
    <div class="print-only-block">
      <p>Pomocí formuláře na&nbsp;mém webu <a href="{{ page.url | absoluteUrl(metadata.url) }}">{{ page.url | absoluteUrl(metadata.url) }}</a>.</p>
    </div>
  </div>
</section>

<section class="basic">
  <div class="container">
    <h2>Nebo zkuste socky</h2>
    <p>
      <a href="https://twitter.com/JiriBazant" title="Twitter" class="social"><span
            class="ico">{% icon 'twitter-with-circle' %}</span> Twitter</a>
      <span class="print-only-text">- @JiriBazant</span>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/jiri-bazant/" title="LinkedIn" class="social"><span
            class="ico">{% icon 'linkedin-with-circle' %}</span> LinkedIn</a>
      <span class="print-only-text"> - https://www.linkedin.com/in/jiri-bazant/</span>
    </p>
  </div>
</section>
