---
layout: layouts/basic.njk
tags: top
sitemap:
  priority: 0.1
eleventyNavigation:
  key: contact
  title: Kontakt
  excerpt: Zaujala Vás moje činnost? Napište mi.
  order: 4
  icon: mail
---

<section class="basic">
  <div class="container">
    <p>Zaujala Vás moje práce? Zaujal jsem Vás já? Napište mi! Slibuji, že aspoň první zprávu si přečtu.</p>
  </div>
</section>

<section>
  <div class="container contact-form">
    <form id="contact-form"
{#          action="https://formspree.io/mlepwpnl"#}
          action="https://localhost"
          method="POST"
    >
      <div>
        <label for="contact-form-email">Váš email:</label>
        <input type="email" name="email" id="contact-form-email"/>
      </div>
      <div>
        <label for="contact-form-message">Zpráva:</label>
        <textarea name="message" id="contact-form-message"></textarea>
      </div>
      <div class="form-actions">
        <button id="contact-form-submit" class="button-primary">Odeslat</button>
      </div>
    </form>
  </div>

</section>
