---
layout: layouts/error.njk
permalink: /offline.html
eleventyExcludeFromCollections: true
dynamicPermalink: false
templateClass: offline-page
title: Offline
---

<section class="error-page-info">
  <div class="offline-info">
    <h1>Jste Offline</h1>
    <p>To je sice trochu problém, ale tenhle web by měl trochu fungovat i&nbsp;tak. Co takhle zkusit to zatím třeba znovu
      <a href="{{ '/' }}">na&nbsp;úvodu</a>?</p>
  </div>
</section>

