<footer>
  <div class="container">
    <div class="social">
      <a href="https://twitter.com/JiriBazant" title="Twitter">{% icon 'twitter-with-circle' %}<span class="no-vis">Můj Twitter</span></a><span class="no-vis">,</span>
      <a href="https://www.linkedin.com/in/jiri-bazant/" title="LinkedIn">{% icon 'linkedin-with-circle' %}<span class="no-vis">Můj LinkedIn</span></a><span class="no-vis">,</span>
      <a href="https://github.com/jbazant" title="GitHub">{% icon 'github-with-circle' %}<span class="no-vis">Můj Github</span></a>
    </div>
    <div class="copy">
      <span>&copy; Jiří Bažant</span>
    </div>
  </div>
</footer>
