  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ title or eleventyNavigation.title }} | {{ site.name }}</title>
  <meta name="Description" content="{{ eleventyNavigation.description or description or metadata.description }}" />
  <meta property="og:title" content="{{ title or eleventyNavigation.title }}" />
  <meta property="og:description" content="{{ eleventyNavigation.description or description or metadata.description }}" />
  <meta property="og:image" content="{{ (og_image or '/images/og/bazant-dev.jpeg') | absoluteUrl(metadata.url) }}" />
  <meta property="og:url" content="{{ (page.url or '') | absoluteUrl(metadata.url) }}" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />

  <link rel="preload" href="{{ '/fonts/entypo.woff' }}" as="font" type="font/woff" crossorigin="anonymous" />
  <link rel="preload" href="{{ '/fonts/entypo.ttf' }}" as="font" type="font/ttf" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ '/css/main.css?v=201109' | url }}" />
  <link rel="stylesheet" href="{{ '/css/print.css?v=201113' | url }}" media="print" />

  {% for size in metadata.icons.appleTouchIcon %}
    {%- set sizeStr = size + 'x' + size -%}
    <link rel="apple-touch-icon" sizes="{{ sizeStr }}" href="{{ '/images/ico/apple-icon-' + sizeStr + '.png' | url }}" />
  {% endfor %}
  {% for size in metadata.icons.favicon %}
    {%- set sizeStr = size + 'x' + size -%}
    <link rel="icon" type="image/png" sizes="{{ sizeStr }}"
          href="{{ '/images/ico/favicon-' + sizeStr + '.png' | url }}"/>
  {% endfor %}
  <link rel="manifest" href="{{ '/manifest.json' | url }}"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
  <meta name="theme-color" content="#ffffff"/>
</head>
